<%= form_with url: repositories_search_path, method: :post, data: { controller: "debounce", debounce_target: "form" } do |form| %>
  <%= form.search_field :search_term, placeholder: "Type a search term", autocomplete: "off", data: { action: "input->debounce#search" } %>
<% end %>

<div id="search_result"></div>